<nav class="navbar">
    <button class="navbarButton" type="button" routerLink="./albums">Agregados Recientemente</button>
    <button class="navbarButton" type="button" routerLink="./albums">Catalogo Completo</button>
    <button class="navbarButton" type="button" routerLink="./albums">En Oferta</button>
    <button class="navbarButton" type="button" routerLink="./albums">Ediciones Limitadas</button>
    <button class="navbarButton" type="button" routerLink="./albums">Compilaciones</button>
    <button class="navbarButton" type="button" routerLink="./albums">Soundtracks</button>
    <button class="navbarButton" type="button" routerLink="./tags">Géneros</button>
    <button class="navbarButton" type="button" routerLink="./tags">Formatos</button>
    <button class="navbarButton" type="button" routerLink="./tags">Artistas</button>
</nav>

