<nav class="headercomp border border-black drop-shadow-lg">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="assets/Logo.png" class="h-8" alt="Logo" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap text-black">Mystical Records</span>
        </a>
        <div class="hidden w-full md:block md:w-auto flex items-center space-x-4">
            <button class="icon-button">
                <i class="fas fa-sign-in-alt"></i>
            </button>
            <button class="icon-button">
                <i class="fas fa-user-plus"></i>
            </button>
        </div>
    </div>
</nav>
