<section class="commentCard border rounded-md p-3 my-2 relative">
    <div class="absolute top-0 right-0 bg-gray-200 rounded-tr-md rounded-bl-md px-2 py-1 text-xs">
        January 1, 2024
    </div>
    <div class="flex gap-3 items-center">
        <img src="assets/blank.png" class="object-cover w-8 h-8 rounded-full border-2 border-emerald-400 shadow-emerald-400">
        <h3 class="font-bold text-white">User name</h3>
    </div>
    <p class="text-white mt-2">This is sample comment</p>
    <div class="flex items-center justify-between mt-4">
        <div class="flex items-center space-x-3 text-white">
            <button class="focus:outline-none hover:text-green-500">
                <i class="far fa-thumbs-up"></i> Like <span class="text-green-500 ml-1">5</span>
            </button>
            <button class="focus:outline-none hover:text-red-500">
                <i class="far fa-thumbs-down"></i> Dislike <span class="text-red-500 ml-1">2</span>
            </button>
            <button class="focus:outline-none hover:text-red-500">
                <i class="far fa-trash-alt"></i> Delete
            </button>
        </div>
    </div>
</section>