<div class="flex border-b border-gray-200 dark:border-gray-700">

    <div class="flex-1 px-6 py-4 font-medium whitespace-nowrap">
        {{User.name}}
    </div>
    <div class="flex-1 px-6 py-4">
        {{User.address}}
    </div>
    <div class="flex-1 px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
        {{Album.name}}
    </div>
    <div class="flex-1 px-6 py-4">
        {{item.createdAt}}
    </div>
    <div class="flex-1 px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
        {{item.amount}}
    </div>
    <div class="flex-1 px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
        {{item.arrivalDate}}
    </div>
    <!--
    <div class="flex-1 px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
        <input type="text" id="date" name="date" class="crudInput w-2/3 sm:w-4/6 mb-2 sm:mr-2 sm:mt-2" placeholder="Fecha" required>
        <button type="submit" class="button mt-4 sm:mt-0 text-base"><i class="fa-solid fa-floppy-disk"></i></button>
    </div>
    -->
</div>
