
<section>
    <form class="bg-transparent mx-auto" *ngIf="isAuth">
        <div class="px-3 mb-2 mt-2">
            <textarea name="commentMessage" placeholder="Dejar un comentario..." class="w-full bg-gray-100 text-black rounded border border-gray-400 leading-normal resize-none h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white" [(ngModel)]="comment.message"></textarea>
        </div>
        <div class="flex justify-start px-4">
            <button type="submit" class="button my-4 sm:mt-0" (click)="submitComment()">Comentar</button>
        </div>
    </form>

    <hr>

    <div class="flex flex-col">
        <app-comment *ngFor="let comment of Comments" [comment]="comment"></app-comment>
    </div>
</section>