<nav class="headercomp border mb-0">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a routerLink="./home" routerLinkActive="active" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="assets/Logo.png" class="h-16" alt="Logo" />
            <span class="self-center text-lg md:text-3xl font-extrabold whitespace-nowrap bg-gradient-to-t from-gray-800 via-violet-900 to-zinc-400 bg-clip-text text-transparent">Mystical Records</span>
        </a>
        <div *ngIf="!isAuth" class="w-auto md:block flex items-center space-x-4">
            <button type="button" routerLink="./login" class="icon-button"><i class="fas fa-sign-in-alt"></i></button>
            <button type="button" routerLink="./register" class="icon-button"><i class="fas fa-user-plus"></i></button>
        </div>
        <div *ngIf="isAuth" class="w-auto md:block flex items-baseline space-x-4">
            <button class="icon-button" (click)="Logout()"><i class="fas fa-sign-out-alt"></i></button>
            <button *ngIf="!isAdmin" class="icon-button" routerLink="/dashboard/user"><i class="fas fa-user"></i></button>
            <button *ngIf="isAdmin" class="icon-button" routerLink="dashboard/admin"><i class="fa-solid fa-user-tie"></i></button>
            <button *ngIf="!isAdmin" class="icon-button" routerLink="/dashboard/user/wishlist"><i class="fas fa-heart"></i></button>
            <button *ngIf="!isAdmin" class="icon-button" routerLink="/dashboard/user/shopping-cart"><i class="fas fa-shopping-cart"></i></button>
        </div>
    </div>
</nav>
