<section>
    <h2 class="text-3xl font-bold text-white">Newsletter</h2>
    <hr>
    <p class="text-sm text-white mb-2">Suscríbete a noticias de nuevos productos</p>
    <form action="#" method="post" class="flex flex-col sm:flex-row sm:items-center">
        <input type="email" id="email" name="email" class="w-full sm:w-6/12 mb-2 sm:mr-5 sm:mt-2 p-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" placeholder="Ingresa tu correo electrónico" required>
        <button type="submit" class="button mt-4 sm:mt-0">Suscribirse</button>
    </form>
</section>

