<section class="commentCard border rounded-md p-3 my-2 relative">
    <div class="absolute top-0 right-0 bg-gray-200 rounded-tr-md rounded-bl-md px-2 py-1 text-xs">
        {{comment.createdAt}}
    </div>
    <div class="flex gap-3 items-center">
        <img src="assets/blank.png" class="object-cover w-8 h-8 rounded-full border-2 border-emerald-400 shadow-emerald-400">
        <h3 class="font-bold text-black">{{comment.author}}</h3>
    </div>
    <p class="text-black mt-2">{{comment.message}}</p>
    <div class="flex items-center justify-between mt-4">
        <div class="flex items-center space-x-3 text-black">
            <button *ngIf="itsYours" class="focus:outline-none hover:text-red-500" (click)="deleteComment()">
                <i class="far fa-trash-alt"></i> Borrar
            </button>
        </div>
    </div>
</section>