
<section>
    <form class="bg-transparent mx-auto">
        <div class="px-3 mb-2 mt-2">
            <textarea placeholder="Dejar un comentario..." class="w-full bg-gray-100 rounded border border-gray-400 leading-normal resize-none h-20 py-2 px-3 font-medium placeholder-gray-700 focus:outline-none focus:bg-white"></textarea>
        </div>
        <div class="flex justify-start px-4">
            <button type="submit" class="button my-4 sm:mt-0">Comentar</button>
        </div>
    </form>

    <hr>

    <div class="flex flex-col">
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
        <app-comment></app-comment>
    </div>
    

</section>