@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --btnPrimary: #F0F3F4;
    --btnShadow: #d1a6e2;
    --btnHover: #a881b7;
}

.button {
    @apply text-black border-black border border-b-4 font-bold py-2 px-4 rounded;
    background-image: linear-gradient(0deg, var(--btnShadow) 0%, var(--btnPrimary) 22%, var(--btnPrimary) 93%, #ffffff 100%);
    transition: background 0.3s linear;
}
.button:hover {
    @apply text-white;
    background: var(--btnHover);
}
.button:active
{
    @apply border-black border border-t-4 font-bold py-2 px-4 rounded;
}