@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color1: #732571;
    --color2: #965395;
    --color3: #b980b8;
    --color4: #dcaedc;
    --color5: #ffdcff;
    --color6: #fdf0fd;
    --color7:#48A798;
    --color8:#49C1AE;
    --color9:#52D6C1;
    --color10:#5EEAD4;
    --color11:#86E2D4;
    --color12:#ABE2DA;
    --bgcolor1:#ffffff;
    --bgcolor2:#e7e7e7;
    --btnPrimary: #F0F3F4;
    --btnShadow: #d1a6e2;
    --btnHover: #a881b7;
    --focused: #e2e983;
}

@keyframes scroll {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 50% 50%;
    }
}
body {
    background-size:auto;
    animation: scroll 10s linear infinite;
    background-color: #48A798;
    width: 100%;
}

.button {
    @apply text-black border-black border-4 font-bold py-2 px-5 rounded-lg shadow-lg;
    background-image: linear-gradient(0deg, var(--bgcolor2) 0%, var(--bgcolor1) 22%);
}
.button:hover {
    @apply text-white;
    background: black;
}
.button:active
{
    @apply text-black;
    background: linear-gradient(0deg, #f8fadf 5%, var(--focused) 33%, var(--focused) 63%, #f8fadf 95%);
    transform: scale(0.97);
}

.icon-button {
    @apply text-black border-black rounded-full border-4 shadow-lg;
    width: 60px;
    height: 60px;
    font-size: large;
    background: radial-gradient(circle, var(--bgcolor1) 40%, var(--bgcolor2) 100%);
}
.icon-button:hover {
    @apply text-white;
    background: black;
}
.icon-button:active
{
    @apply text-black;
    background: radial-gradient(circle, var(--btnHover) 40%, var(--btnPrimary) 100%);
    transform: scale(0.9);
}

.navbar{
    @apply justify-center flex flex-wrap p-4;
    background-color: var(--bgcolor2);
}
.navbarButton{
    @apply rounded-2xl mr-px text-sm flex-shrink-0 flex-grow flex-initial border-black max-w-none h-10 text-black font-normal py-2 px-4;
    background: transparent;
}
.navbarButton:hover{
    background: linear-gradient(0deg, var(--color7) 0%, var(--color8) 28%, var(--color11) 28%, var(--color12) 99%);
    border: black;
    border-style:groove;
}
.navbarButton:active{
    background: linear-gradient(0deg, #f8fadf 5%, var(--focused) 33%, var(--focused) 63%, #f8fadf 95%);
    transform: scale(0.97);
    border: black;
    border-style:groove;
}

.card {
    @apply border-2 border-black rounded-lg max-w-sm block overflow-hidden shadow-lg transition duration-300 ease-in-out;
    background: linear-gradient(0deg, var(--bgcolor2) 5%, var(--bgcolor1) 33%,  var(--bgcolor1) 66%, var(--bgcolor2) 95%);
}
.card:hover {
    transform: translateY(-20px);
}

label{
    @apply block mb-2 text-sm font-medium text-white;
}
input{
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white;
}
section
{
    @apply mr-10 ml-10 m-10 p-10 h-full rounded bg-purple-500 bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-30 backdrop-saturate-100 backdrop-contrast-100;
}