<div class="slides relative mt-8">
    <div class="slide" [ngStyle]="{'background-image': 'url('+slides[currentSlide].url+')'}">
        <button class="prev-button absolute top-1/2 left-2 transform -translate-y-1/2 bg-gray-800 text-white px-3 py-2 rounded-full shadow-md" (click)="prev()">
            <i class="fas fa-chevron-left"></i>
        </button>
        <button class="next-button absolute top-1/2 right-2 transform -translate-y-1/2 bg-gray-800 text-white px-3 py-2 rounded-full shadow-md" (click)="next()">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
</div>